h1{
    color: red;
}
body{
    color:rgb(87, 9, 9);
}
.heading{
    color:rgb(235, 64, 12);
    font-weight: bold;
    font-size: 25px;
    }

ul{
    letter-spacing: 3.5px;
}
a{
    text-decoration: none;
    background-color: yellow;
}
p{
    color: rgb(87, 9, 9, 0.7);
}